@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.container {
  margin: auto;
  padding: 0px 20px
}

@media screen and (min-width: 400px) {
  .custom-height {
    height: 1062px;
  }

}

.footer-wrapper {
  background: url(/images/base.png);
  background-position: bottom;
  position: relative
}

.footer-wrapper .copy {
  padding: 10px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.auth-card {
  background: url(/base.png);
  min-height: 553px;
  background-repeat: no-repeat;
}


@media (max-width:640px) {
  .auth-card {
    background-size: 100% 100%;
    min-height: 460px;
  }
}


.table-container {
  width: 100%;
}